@font-face {
  font-family: 'Menlo';
  src: url(./assets/Menlo-Regular.ttf);
}
$anchor-color: #81a2be;


* {
  font-family: Menlo;
  transition: 0.2s;
  color: #c5c8c6;
  letter-spacing: -0.5px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: dashed 2px #c5c8c6;
}

button {
  background-color: transparent;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
  }
}

a{
  color: $anchor-color;
  &:hover {
    color: lighten($anchor-color, 10%);
  }
  &:active {
    color: darken($anchor-color, 10%);
  }
}

html {
  background-color: #1d1f21;
}
